#container {
    display: flex;
    flex-direction: row;

}

.innerContainer {
    background-color: #476666;
    flex: 1;
    margin-right: 20px;
    color: #fff;
    justify-content: space-around;
    border-radius: 40px;
}
.inputTask{
    width: auto;
    border-radius: 5px;
    border: none;
    border-color: #2aafe4;
    height: 36px;


}
.text-app{
    margin-left: 130px;
}
.itemList {
    list-style:  none;
}

.form-submit {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.inpuTask .typeSubmit{
  flex: 1;
}

.item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #3f3cde
}
.checkbox{
    flex: 1;
    text-align: center;
}
.contentTask{
    flex: 2;
    justify-content: center;
    align-items: center;
}
.btnClick{
    flex: 1;
}

